@import "tailwindcss";

@theme {
  --color-off-white: #fbfaf2;
  --color-black: #171717;
  --color-neutral: #9f9f9f;
  --color-orange: #ec4926;
  --color-accent: var(--color-orange);
  --color-bg-foundation: var(--color-off-white);
  --color-bg-inverse: var(--color-black);
  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-neutral);
  --color-text-inverse: var(--color-off-white);
  --font-script: var(--font-script);
  --font-sans: var(--font-sans);
  --spacing-site-header-h: 50px;
  --spacing-site-container-w: 1920px;
  --spacing-site-container-w-inner: 984px;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-primary);
  background: var(--color-bg-foundation);
  font-family: var(--font-sans);
}
